#container {
  display: flex;
  flex-direction: column;
}
#header {
  display: flex;
  justify-content: center;
  gap: 5px;
}
#contentContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-top: 200px;
  gap: 20px;
  width: 100%;
}
#table {
  display: flex;
  max-width: 50%;
}
#details {
  display: flex;
  max-width: 50%;
}

thead {
  background-color: aqua;
}

table,
th,
td {
  border: 1px solid black;
  border-collapse: collapse;
}
