#container {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
#header {
  display: flex;
  justify-content: center;
  gap: 5px;
}
#table {
  display: flex;
  justify-content: center;
  margin-top: 200px;
}
th {
  background-color: aqua;
  gap: 20px;
  border: 1px solid black;
}
