#container {
  display: flex;
  flex-direction: column;
}
#header {
  display: flex;
  justify-content: center;
  gap: 5px;
}
#contentContainer {
  display: flex;
  justify-content: center;
}
#table {
  display: flex;
  padding-top: 200px;
}
th {
  background-color: aqua;
  gap: 20px;
  border: 1px solid black;
}
dialog {
  width: 100px;
  height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
