.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: hsla(0, 0%, 0%, 0.8);
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.overlay.active {
  display: flex;
  cursor: wait;
}
.loading {
  font-size: 5rem;
  color: white;
  text-transform: uppercase;
  animation-name: pulse;
  animation-duration: 1s;
  animation-direction: normal;
  animation-iteration-count: infinite;
}
@keyframes pulse {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.1;
  }
  100% {
    opacity: 1;
  }
}
#deleteManyRows {
  display: none;
}
#deleteCnf {
  background-color: gold;
  font-size: 48px;
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.defaultTable {
  display: flex;
  justify-content: center;
  align-items: center;
}
#detailTabel {
  width: 50%;
  display: flex;
}
#detailTabel > thead > tr {
  display: flex;
  flex-direction: column;
}
#detailTabel > tbody > tr {
  display: flex;
  flex-direction: column;
}
td,
th {
  border: 2px solid whitesmoke;
  margin-bottom: 5px;
  padding-top: 3px;
  padding-bottom: 3px;
}
.delDetBtn {
  width: 100px;
  font-size: 18px;
}
#find {
  display: none;
}
.details {
  display: none;
}
#pagination {
  display: none;
}
#SearchThrouTable {
  display: none;
}
.hideRow {
  display: none;
}
.details.active {
  display: inline-block;
}
body {
  background-image: url("WallpaperDog-966390.jpg");
  background-color: #cccccc;
  color: white;
  font-size: 20px;
}

button {
  font-size: 20px;
}
