@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,400italic,600,600italic,700italic);
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@700&display=swap");

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: hsla(0, 0%, 0%, 0.8);
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.overlay.active {
  display: flex;
  cursor: wait;
}
.loading {
  font-size: 5rem;
  color: white;
  text-transform: uppercase;
  animation-name: pulse;
  animation-duration: 1s;
  animation-direction: normal;
  animation-iteration-count: infinite;
}
@keyframes pulse {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.1;
  }
  100% {
    opacity: 1;
  }
}
#deleteManyRows {
  display: none;
}
#deleteCnf {
  background-color: gold;
  font-size: 48px;
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.defaultTable {
  display: flex;
  justify-content: center;
  align-items: center;
}
#detailTabel {
  width: 50%;
  display: flex;
}
#detailTabel > thead > tr {
  display: flex;
  flex-direction: column;
}
#detailTabel > tbody > tr {
  display: flex;
  flex-direction: column;
}
td,
th {
  border: 2px solid whitesmoke;
  margin-bottom: 5px;
  padding-top: 3px;
  padding-bottom: 3px;
}
.delDetBtn {
  width: 100px;
  font-size: 18px;
}
#find {
  display: none;
}
.details {
  display: none;
}
.pagination {
  display: none;
}
.SearchThrouTable {
  display: none;
}
.hideRow {
  display: none;
}
.details.active {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-top: 15px;
  margin-bottom: 15px;
}
.details.active > select {
  font-size: 20px;
}
body {
  background-image: url("WallpaperDog-966390.jpg");
  background-color: #cccccc;
  color: white;
  font-size: 20px;
  font-family: "Open Sans", sans-serif;
}

button {
  font-size: 20px;
}
#header {
  display: flex;
  gap: 5px;
  justify-content: center;
  align-items: center;
  margin-bottom: 25px;
  margin-top: 30px;
}
#searcherByEndpoints {
  display: flex;
  gap: 5px;
  justify-content: center;
  align-items: center;
  margin-bottom: 25px;
  font-size: 25px;
}
#endpointsSelector {
  font-size: 23px;
  opacity: 0.85;
}
#searcherByEndpoints > input {
  font-size: 20px;
}
.mainAppBtn {
  position: relative;
  background-color: darkblue;
  color: antiquewhite;
  font-size: 28px;
  border: none;
  text-align: center;
  transition-duration: 0.4s;
  text-decoration: none;
  overflow: hidden;
  font-family: "Quicksand";
}
.mainAppBtn.active {
  background-color: #fff;
  box-shadow: 0px 2px 10px 5px #97b1bf;
  color: #000;
}
#buttons > button:hover {
  background: #fff;
  box-shadow: 0px 2px 10px 5px #97b1bf;
  color: #000;
}

.SearchThrouTable.visible {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
  margin-top: 15px;
  gap: 10px;
  font-size: 25px;
}
.SearchThrouTable.visible > input {
  font-size: 23px;
}
input {
  background-color: lightskyblue;
}
.pagination.visible {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
  margin-top: 15px;
  gap: 10px;
  font-size: 25px;
}
.pagination.visible > input {
  width: 40px;
  font-size: 20px;
}
